#redirect{
    width: 500px;
    margin: 0 auto;
    /* border: 1px solid; */
    border-radius: 6px;
    text-align: center;
    background: #efeded;
}

#redirect .content{
    margin-top: 200px;  
    height: 100px;
}

#redirect p {
    line-height: 100px;
    color: #ed2049;
    font-size: 20px !important;
}